/* custom imported font with ligatures automatically enabled*/
@font-face {
    font-family: "JetBrainsMono";
    src: url("../fonts/JetBrainsMono-Bold.woff2") format("woff2"),
         url("../fonts/JetBrainsMono-Thin.woff2") format("woff2"),
         url("../fonts/JetBrainsMono-Light.woff2") format("woff2"),
         url("../fonts/JetBrainsMono-Italic.woff2") format("woff2"),
         url("../fonts/JetBrainsMono-Medium.woff2") format("woff2"),
         url("../fonts/JetBrainsMono-Regular.woff2") format("woff2"),
         url("../fonts/JetBrainsMono-SemiBold.woff2") format("woff2"),
         url("../fonts/JetBrainsMono-ExtraBold.woff2") format("woff2"),
         url("../fonts/JetBrainsMono-BoldItalic.woff2") format("woff2"),
         url("../fonts/JetBrainsMono-ExtraLight.woff2") format("woff2"),
         url("../fonts/JetBrainsMono-ExtraBoldItalic.woff2") format("woff2"),
         url("../fonts/JetBrainsMono-ExtraLightItalic.woff2") format("woff2"),
         url("../fonts/JetBrainsMono-LightItalic.woff2") format("woff2"),
         url("../fonts/JetBrainsMono-MediumItalic.woff2") format("woff2"),
         url("../fonts/JetBrainsMono-SemiBoldItalic.woff2") format("woff2"),
         url("../fonts/JetBrainsMono-ThinItalic.woff2") format("woff2"),
}

/* proper CSS styling */
body {
    font-family: "JetBrainsMono", sans-serif;
}

/* CSS Block */

.mainContainer {
    display:flex;
    justify-content:center;
    margin-top:125px;
}

.item-codeBlock {
    display:block;
    font-size:1.185rem;
    padding:5px;
    background-color:#f1f1f1;

    animation-name:codeBlockOnStartup;
    animation-timing-function:ease;
    animation-duration:1.5s;
    animation-delay:0s;
    animation-iteration-count:1;
    animation-direction:normal;
    animation-fill-mode:none;
}

/* CSS flexbox */
.container {
    display:flex;
    justify-content:center;
    height:100px;
}

.item-mainLink, .item-aboutLink, .item-contactLink {
    margin-top:auto;
    margin-left:250px;
    margin-right:250px;
    font-size:2rem;

    transition-property:transform;
    transition-duration:0.3s;
    transition-timing-function:ease-in-out;
    transition-delay:0s;

    animation-name:linksOnStartup;
    animation-timing-function:ease;
    animation-delay:0s;
    animation-iteration-count:1;
    animation-direction:normal;
    animation-fill-mode:none;
}

.item-mainLink {
    animation-duration:1.5s;
}

.item-aboutLink {
    animation-duration:1.8s;
}

.item-contactLink {
    animation-duration:2.1s;
}

/* General link styling */
a {
    color:black;
}

a:link {
    text-decoration:none;
}

a.visited {
    text-decoration:none;
}

a.active {
    text-decoration:none;
}

/* Animations && Transitions */
.item-mainLink:hover, .item-aboutLink:hover, .item-contactLink:hover {
    transform:translateY(-8px);
    text-decoration:underline;
}

@keyframes linksOnStartup {
    from {
        transform: translateY(-80px);
    } 
    to {
        transform: translateY(0px);
    }
}

@keyframes codeBlockOnStartup {
    from {
        transform: translateX(-700px);
    } 
    to {
        transform: translateX(0px);
    }
}

/* Conditional formatting */
.currentFile {
    border:solid;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:20px;
    padding-right:20px;
}

/* Code Block color theme */

.reserved-word {
    color:#D2333E;
}

.user-defined {
    color:#0852AF;
}

.user-defined-values {
    color:#053877;
}

.comments {
    color:#7B838C;
}
